/* Apply to the entire body of the HTML document. */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  flex-wrap: wrap;
  background-color:#f7f7f7;

  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}


/* Apply to the entire body of the HTML document. */
.main {
  width: 350px;
  margin:30px auto;
}

.main h4:first-child {
  margin:0px;
}

/* Apply to all the elements with <id = 'balance'> specified */
#balance {
  margin:0;
}


/* Apply to all the elements with <class = 'inc_exp'> specified */
.inc_exp {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  margin: 20px 0px;
  padding:20px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.4);
}


/* Apply to all the children "<div>" elements with <class = 'inc_exp'> specified */
.inc_exp div {
  width:50%;
  text-align:center;
  padding:5px 0px 0px 0px;
}

.inc_exp p {
  margin: 5px 0;
}


/* Apply to all the elements with <id = 'income'> specified */
#income {
  border-right: 1px solid rgba(0,0,0,0.2);
}


/* Apply to all the elements with <class = 'delete_button'> specified */
.delete_button {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  opacity: 0;
  position: absolute;
  float:left;
  transform: translate(-155%, -5%);
  transition: opacity 0.3s ease;
}

.history_record>div:hover button{
  opacity:1;
}

/* Apply to all the children "<p>" elements with <class = 'income'> specified */
#income_value {
  color:#2ecc71;
  font-size:20px;
}


/* Apply to all the children "<p>" elements with <id = 'expense'> specified */
#expense_value {
  color: #c0392b;
  font-size:20px;
}


/* Apply to all the elements with <id = 'history_title'> specified */
#history_title {
  border-bottom:1px solid rgba(0,0,0,0.2);
  margin: 40px 0px 30px;
}

.history_record_income > div, .history_record_expense > div{
  display: inline-block;
}


/* Apply to all the next children "<div>" elements with <class = 'history_record'> specified */
.history_record > div{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;


  font-size: 1.17em;
  margin: 12px 0px;
  padding:10px 10px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.4);
}


/* Apply to all the elements with <class = 'history_record_income'> specified */
.history_record_income {
  border-right: 5px solid #2ecc71 !important;
}


/* Apply to all the elements with <class = 'history_record_expense'> specified */
.history_record_expense {
  border-right: 5px solid #c0392b !important;
}


/* Apply to all the elements with <id = 'transaction_title'> specified */
#transaction_title {
  border-bottom:1px solid rgba(0,0,0,0.2);
  margin: 40px 0px 30px;
}


/* Apply to all the children "<input>" elements with <class = 'transaction_input'> specified */
.transaction_input input {
  display:block;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.4);
  width:100%;
  font-size:16px;
  padding:10px 0px;
  margin:10px 0px;

}


/* Apply to all the elements with '<button>' elements specified */
.button {
  background-color: #9c88ff;
  font-size:16px;
  color:white;
  width:100%;
  margin:10px 0px 30px;
  border:0px;
  padding:10px 0px;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.4);
  cursor: pointer;
}
